<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <script type="text/javascript">
        let input = document.getElementById('city-search')
        function searchCity(){
            let cityName = input.value;
            window.location.href = '?city=' + cityName;
        }
        input.addEventListener('keyup', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById('city-search').click();
            }
        });
    </script>
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <center>
                    <h1 class="title">
                        What's the Sky Status?
                    </h1>
                </center>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input id="city-search" class="input" type="text" placeholder="Find a city">
                        </div>
                        <div class="control">
                            <button onclick="searchCity()" class="button is-info" id="city-search">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if weather_data %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather_data.name }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather_data.temp }}° F</span>
                                        <br> {{ weather_data.weather }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- <footer class="footer">
    </footer> -->
</body>

</html>